
<div class="row">
	<div class="span12">
	<h2>{{ entry.title }}</h2>
	</div>
</div>
<div class="row">
	<div class="span12">
	{{ entry.description }}
	</div>
</div>

<div class="row">
	<div class="span12">
		<br>
		<br>
		<h4>Add your comment</h4>
		<form class="well">  
		  <label>Comment this idea and vote for it</label> 
		  <textarea ng-model="vote.comment" class="input-xxlarge" id="description"  />  
		  <button type="submit" class="btn" ng-click="save()">Submit</button>  
		</form>
	</div>
</div>


